<!DOCTYPE html>
<html>
<head>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Academic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!---->
  <link href='//fonts.googleapis.com/css?family=Catamaran:400,100,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="../../styles/materialize.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../../styles/materialize.min.css" rel="stylesheet" type="text/css" media="all" />
  <!----->
  <link href="../../styles/hostels.css" rel="stylesheet" type="text/css" media="all" />
  <link type = "text/css" rel="stylesheet" href="../../font_awesome/css/font-awesome.css">
  <link type="text/css" rel="stylesheet" herf="../../font_awesome/css/font-awesome.min.css">

</head>
<body>
<div class="header head">
  <div class="container">
    <div class="head-top">


      <div class="clearfix"></div>
    </div>
  </div>
  <!-- login -->

  <!-- //login -->
  <!-- signup -->

  <!-- //signup -->

  <div class="nav-top">
    <div class="container">
      <div class="nav1">
        <div class="navbar1">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if (req.isAuthenticated()) { %>

            <ul class="nav navbar-nav cl-effect-8">
              <li ><a class="" href="/user/show/<%= user.id %>">Home </a></li>
              <li><a href="/user/hostels_1/<%= user.id %>">Hostels</a></li>
              <li><a href="/user/mess_1/<%= user.id %>">Mess</a></li>
              <li><a href="/da/index_da/<%= session.User.id %>">Assignments</a></li>
              <li><a href="/user/restaurents_1/<%= user.id %>">Restaurents</a></li>
              <li><a href="/url/index_url/<%= user.id %>">Doubts</a></li>

            </ul>
            <% } %>
          </div><!-- /.navbar-collapse -->
        </div>
        <!-- start search-->
        <ul class="social-ic">
          <li><a class="btn btn-sm btn-danger btn-danger btn-warning"  href="/session/destroy">Logout</a></li>
        </ul>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!--mess-->
<div class="about">
  <div class="container">
    <div class="about-head">
      <h2>Mess</h2>
      <p> Now you can see all types of mess and choose wisely.</p>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">
        <h4 >D-Annex Mess</h4>
        <div class="about-img">
          <img src="/images/dannex.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>
      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>D-Annex Mess is the best mess in VIT. Quality and Quantity both are good and they offer other items also like ice cream once in a week and sweets in every day.etc</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Food Park</h4>
        <div class="about-img">
          <img src="/images/foodpark.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>Food Park is good but costly as it is a paid mess. You will be given 150rs per day and for more, you have to pay. Quality is very good but quantity is sufficient.Also, menu is limited so you may get bored after some months.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>


      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Food Mall</h4>
        <div class="about-img">
          <img src="/images/foodmall1.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>Food Park is almost same as Food Park.This is also paid mess. It depends on your hostel's location and according to that you can choose</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>



      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >L Block</h4>
        <div class="about-img">
          <img src="/images/lblock.png" class="img-responsive" alt="" style="height: 100%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>L block mess is good and mostly chosen by students who are in L block. You can get this easily at the time of changing the mess.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>


      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >K Block</h4>
        <div class="about-img">
          <img src="/images/kblock3.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>Quality and quantity of food in K block, both are good.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color: yellow; "></i>


      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >F-Block Mess</h4>
        <div class="about-img">
          <img src="/images/fblock.png" class="img-responsive" alt=""style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>F-Block Mess is fine.Chosen by very less students so no disturbances. Mostly F-Block students only opt this mess.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>



      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >B-Annex Mess</h4>
        <div class="about-img">
          <img src="/images/bannex.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>B_annex mess is good. Quality of this mess is fine.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color: yellow; "></i>




      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >H Block</h4>
        <div class="about-img">
          <img src="/images/foodpark.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>H block mess is fine.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color: yellow; "></i>



      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >J Block</h4>
        <div class="about-img">
          <img src="/images/foodpark.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>J block mess is same as h block mess.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color: yellow; "></i>



      </div>

      <div class="clearfix"></div>
    </div>


</div>
</div>


<!-- Include jQuery & Filterizr -->

<script src="../../js/jquery.filterizr.js"></script>
<script src="../../js/controls.js"></script>
<script type="text/javascript">
  $(function() {
    //Initialize filterizr with default options
    $('.filtr-container').filterizr();
  });
</script>
<!-- Kick off Filterizr -->
<!---->
<!---->
<!--footer-->
<div class="footer">
  <div class="container">
    <div class="col-md-6 footer-left">
      <h3>Information</h3>
      <p class="para">This is website is made for vit students to help them and get their required information without any difficulty. </p>
    </div>
    <div class="col-md-6 footer-right">
      <h3>Contact Us</h3>
      <ul class="con-icons">
        <li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>knowmyvit@gmail.com</a></li>
      </ul>
      <p class="copy-right">© 2016 Academic. All rights reserved </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- //swipe box js -->
<link rel="stylesheet" href="css/swipebox.css">
<!-- swipe box js -->
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
  jQuery(function($) {
    $(".swipebox").swipebox();
  });
</script>


</body>
</html>


