<!DOCTYPE html>
<html>
<head>
  <link href="../../styles/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../../styles/materialize.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../../styles/materialize.min.css" rel="stylesheet" type="text/css" media="all" />
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../../js/jquery.min.js"></script>
  <!-- Custom Theme files -->
  <!--theme-style-->
  <link href="../../styles/style.css" rel="stylesheet" type="text/css" media="all" />
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Academic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!---->
  <script src="../../js/bootstrap.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Catamaran:400,100,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="../../styles/materialize.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../../styles/materialize.min.css" rel="stylesheet" type="text/css" media="all" />
  <link type = "text/css" rel="stylesheet" href="../../font_awesome/css/font-awesome.css">
  <link type="text/css" rel="stylesheet" herf="../../font_awesome/css/font-awesome.min.css">
</head>
<body>
<div class="header head">
  <div class="container">
    <div class="head-top">
      <div class="logo">
      </div>
      <div class="login">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- login -->

  <!-- //login -->
  <!-- signup -->

  <!-- //signup -->

  <div class="nav-top">
    <div class="container">
      <div class="nav1">
        <div class="navbar1">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>

          <!-- LINKS -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if (req.isAuthenticated()) { %>

            <ul class="nav navbar-nav cl-effect-8">
              <li ><a class="" href="/user/show/<%= user.id %>">Home</a></li>
              <li><a href="/user/hostels_1/<%= user.id %>">Hostels</a></li>
              <li><a href="/user/mess_1/<%= user.id %>">Mess</a></li>
              <li><a href="/da/index_da/<%= session.User.id %>">Assignments</a></li>
              <li><a href="/user/restaurents_1/<%= user.id %>">Restaurents</a></li>
              <li><a href="/url/index_url/<%= user.id %>">Doubts</a></li>

            </ul>


            <% } %>
          </div><!-- /.navbar-collapse -->

          <!-- LINKS -->
        </div>
        <!-- start search-->

        <ul class="social-ic">
          <li><a class="btn btn-sm btn-danger btn-danger btn-warning"  href="/session/destroy">Logout</a></li>
        </ul>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- home -->
<div class="about">
  <div class="container">

    <div class="about-head">
      <h2>Small Description</h2>
      <p>What is Know My VIT?.</p>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1"  style="padding-bottom: 5%">
        <h4 style="text-align: justify">&nbsp; &nbsp;&nbsp;Hostels</h4>
        <div class="port effect-1">
          <div class="image-box">
            <img   src="../../images/L_block.png" style="height: 40%; width: 90%" alt="" class="img-responsive">
          </div>
          <div class="text-desc text-ed">
            <h6>Hostels</h6>
            <p style="color: white">Check out the requirements,pros and cons, which will help you a lot.</p>
          </div>
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>Now no need to go and check each and every block's rooms.
          Here, you can see all the  pros and cons of each and every block and at what CGPA, you may get your desired block.
        This website will also save your efficient time which can be devoted in other activities.</h5>

      </div>
      <div class="clearfix"></div>
    </div>


    <div class="about-grids">
      <div class="col-md-5 about-grid1" style="padding-bottom: 5%">
        <h4 style="text-align: justify">&nbsp; &nbsp;&nbsp;&nbsp; Mess</h4>

        <div class="port effect-1">
          <div class="image-box">
            <img src="../../images/K_block.png" style="height: 40%; width: 90%" alt="" class="img-responsive">
          </div>
          <div class="text-desc text-ed">
            <h6>Mess</h6>
            <p style="color: white">Choose your mess wisely!</p>
          </div>
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>Here you can compare easily all types of mess and choose accordingly to your block location.
          Once we choose mess, we can change it after one month and later it is difficult to change as mess preserving good quality of food will not be available.</h5>

      </div>
      <div class="clearfix"></div>
    </div>


    <div class="about-grids">
      <div class="col-md-5 about-grid1" style="padding-bottom: 5%">
        <h4 style="text-align: justify">  Assignments</h4>

        <div class="port effect-1">
          <div class="image-box">
            <img src="../../images/assignments.png" style="height: 40%; width: 90%" alt="" class="img-responsive">
          </div>
          <div class="text-desc text-ed">
            <h6>Assignments</h6>
            <p style="color: white">Go to the Assignments link if you are facing any difficulty.</p>
          </div>
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5>Facing any difficulty in doing your assignments?
          </br>
          We will try to help you in doing your CAL Section(which includes digital assignments,lab assignments etc).
          In Digital Assignment section, you can go the link according to your required assignment and download that file easily.
          </br>You can also help others by uploading your assignments as helping others is what makes you a successful person.

        </h5>

      </div>
      <div class="clearfix"></div>
    </div>


    <div class="about-grids">
      <div class="col-md-5 about-grid1" style="padding-bottom: 5%">
        <h4 style="text-align: justify">Restaurents</h4>

        <div class="port effect-1">
          <div class="image-box">
            <img src="../../images/vfc.png" style="height: 40%; width: 90%" alt="" class="img-responsive">
          </div>
          <div class="text-desc text-ed">
            <h6>Restaurents</h6>
            <p style="color: white">Choose your restaurent according to your budget.</p>
          </div>
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5> Want to go outside for lunch or dinner?
          </br>
          Now you can easily compare all the famous restaurents nearby VIT.
          This will give you an idea about how is the restaurent, what is the location and is it expensive or not?

        </h5>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
  <!---->

  <!--footer-->
<div class="footer">
  <div class="container">
    <div class="col-md-6 footer-left">
      <h3>Information</h3>
      <p class="para">This is website is completely made for helping purpose, so that  students can get their required information without any difficulty. </p>
    </div>
    <div class="col-md-6 footer-right">
      <h3>Contact Us</h3>
      <ul class="con-icons">
        <li>
            <i  style="color: white" class="fa fa-info-circle" aria-hidden="true"></i>
            knowmyvit@gmail.com</li>
      </ul>
      <p class="copy-right">© 2016 Academic. Made by Vinit <i  style="color: white" class="fa fa-heart" aria-hidden="true"></i>
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- footer ends -->
</body>
</html>


