<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <link rel="stylesheet" type="text/css" href="../../styles/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../../styles/materialicons.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Academic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!---->
  <link href='//fonts.googleapis.com/css?family=Catamaran:400,100,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!----->
  <link href="../../styles/hostels.css" rel="stylesheet" type="text/css" media="all" />
  <link type = "text/css" rel="stylesheet" href="../../font_awesome/css/font-awesome.css">
  <link type="text/css" rel="stylesheet" herf="../../font_awesome/css/font-awesome.min.css">

</head>
<style type="text/css">
  .imgdiv img{
    width: 100%;
    border-radius: 50%;
    margin-top: 2rem;
  }
  .passenger{
    position: relative;

  }
  .imgdiv{

  }
</style>


<!-- Header -->
<body>
<div class="header head">
  <div class="container">
    <div class="head-top">

      <div class="clearfix"></div>
    </div>
  </div>
  <div class="nav-top">
    <div class="container">
      <div class="nav1">
        <div class="navbar1">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if (session.authenticated ) { %>

            <ul class="nav navbar-nav cl-effect-8">
              <li ><a class="" href="/user/show/<%= session.User.id %>">Home </a></li>
              <li><a href="/user/hostels_1/<%= session.User.id %>">Hostels</a></li>
              <li><a href="/user/mess_1/<%= session.User.id %>">Mess</a></li>
              <li><a href="/da/index_da/<%= session.User.id %>">Assignments</a></li>
              <li><a href="/user/restaurents_1/<%= session.User.id %>">Restaurents</a></li>
              <li><a href="/url/index_url/<%= session.User.id %>">Doubts</a></li>

            </ul>
            <% } %>
          </div><!-- /.navbar-collapse -->
        </div>

        <!-- start search-->
        <ul class="social-ic">
          <li><a class="btn btn-sm btn-danger btn-danger btn-warning"  href="/session/destroy">Logout</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>


<div class="about">

<div class="container">
  <div class="about-head">
    <h2>Comments/Suggesstions</h2>
    <p> Here you can ask your doubts or suggesst anything if you are facing any difficulty in this website.</p>
  </div>
  </div>
</div>






  <section class="row new-post">
    <div class="col-md-6 col-md-offset-3">
      <header><h3>Want to say something?</h3></header>
      <form action="/url/create" method="post">
        <div class="form-group">
          <textarea class="form-control" name="body" id="new_post" rows="5" placeholder="Your doubts or suggesstions"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Post</button>
        <input type="hidden"  value="" name="_token" />
      </form>
    </div>

  </section>

  <section class="row posts">
    <div class="col-md-6 col-md-offset-3">
      <header><h5>What other people say....</h5></header>
      <div class="container1">

        <% _.each(urls, function(url) { %>
        <tr data-id="<%= url.id %>" data-model="url">

          <div class="row">
            <!-- box ka size adjust karne ke liye m8 and offset-m2 ko change kar de-->
              <div class="box-wrapper">
                <section class="passenger card-panel hoverable">
                  <div class="row">
                    <div class="timediv right"><i class="fa fa-calendar-o" aria-hidden="true"></i> <%= url.creationDate %>
                    </div>
                    <div class="imgdiv col s3 m2 center-align valign-wrapper">
                      <img src="http://graph.facebook.com/<%= session.User.uid %>/picture?type=square"  class="valign">
                    </div>
                    <div class="detailsdiv col s9 m10">
                      <h5 class="fontsize14rem"><b><%= session.User.name %></b></h5>
                      <p><%= url.body %></p>
                    </div>
                  </div>
                </section>
              </div>
         </div>

        </tr>

        <% }) %>
      </div>
    </div>

















  </section>

</div>
</body>
</html>
