<!DOCTYPE html>
<html>
<head>
  <title>Academic A Education Category Flat Bootstrap Responsive Website Template | Gallery :: w3layouts</title>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <link rel="stylesheet" type="text/css" href="../../styles/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../../styles/materialicons.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Academic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!---->
  <link href='//fonts.googleapis.com/css?family=Catamaran:400,100,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!----->
  <link href="../../styles/hostels.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body>
<!-- Header -->
<div class="header head">
  <div class="container">
    <div class="head-top">
      <div class="logo">
        <a href="index.html"><img src="images/bo.png" alt="" title="Academic"></a>
      </div>
      <div class="login">

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="nav-top">
    <div class="container">
      <div class="nav1">
        <div class="navbar1">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if (session.authenticated ) { %>

            <ul class="nav navbar-nav cl-effect-8">
              <li ><a class="" href="/user/show/<%= session.User.id %>">Home </a></li>
              <li><a href="/user/hostels_1/<%= session.User.id %>">Hostels</a></li>
              <li><a href="/user/mess_1/<%= session.User.id %>">Mess</a></li>
              <li><a href="/da/index_da/">Digital assignment</a></li>
              <li><a href="/user/restaurents_1/<%= session.User.id %>">Restaurents</a></li>
            </ul>
            <% } %>
          </div><!-- /.navbar-collapse -->
        </div>

        <!-- start search-->
        <ul class="social-ic">
          <li><a class="btn btn-sm btn-danger btn-danger btn-warning"  href="/session/destroy">Logout</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- Header -->

<!-- DIGITAL ASSIGNMENTS -->
<div class="gallery">
  <div class="container">
    <div class="gallery-top">
      <h2>Theory and Lab  Assignemts</h2>
      <p>Now, you can go to the link given below and complete your assignment very easily</p>
    </div>

    <div class="filtr-container">
      <table class="bordered striped highlight responsive-table">
          <tr>
            <th>Course Code</th>
            <th>Subject</th>
            <th>Faculty</th>
            <th>Link</th>
            <% if (session.authenticated && session.User.admin) { %>
            <th>Show</th>
            <th>Edit</th>
            <th>Delete</th>
            <% } %>
          </tr>

          <% _.each(das, function(da) { %>
          <tr data-id="<%= da.id %>" data-model="da">

            <td><%= da.course_code %></td>
            <td><%= da.subject %></td>
            <td><%= da.faculty %></td>
            <td> <%= da.link %> </td>

            <% if (session.authenticated && session.User.admin) { %>
            <td><a href="/da/show_da/<%= da.id %>" class="btn btn-sm btn-primary">Show</a></td>
            <td><a href="/da/edit_da/<%= da.id %>" class="btn btn-sm btn-warning">Edit</a></td>
            <td><form action="/da/destroy_da/<%= da.id %>" method="POST">
                <input type="hidden" name="_method" value="delete"/>
                <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </form></td>
            <% } %>

          </tr>
          <% }) %>
        </table>
    </div>
    </br>
    </br>

      <div class="gallery-top">
        <h2>Upload Your Assignments</h2>
        <p>You can also help others by uploading your assignments in google drive and paste your assignemt's link here.<br>There is no exercise better for the heart than reaching down and lifting people up..</p>
      </div>
    <form action="/da/create" method="POST" class="form-signin">
      <p><input required type="text" name="course_code" value="" placeholder="Course Code"></p>
      <p><input required type="text" name="subject" value="" placeholder="Subject"></p>
      <p><input required type="text" name="faculty" value="" placeholder="Faculty"></p>
      <p><input required type="text" name="link" value="" placeholder="Link"></p>


      <p><input type="submit" value="Upload" class="btn btn-lg- btn-primary btn-block"/></p>
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>

  </div>
</div>


<div class="footer">
  <div class="container">
    <div class="col-md-6 footer-left">
      <h3>Information</h3>
      <p class="para">This is website is made for vit students to help them and get their required information without any difficulty. </p>
    </div>
    <div class="col-md-6 footer-right">
      <h3>Contact Us</h3>
      <ul class="con-icons">
        <li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>knowmyvit@gmail.com</a></li>
      </ul>
      <p class="copy-right">© 2016 Academic. All rights reserved </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
</body>
